footer {
	padding: 3rem;
	background-color: black;
	background-image: url("../imagenes/noche.gif");
	background-size: auto;
	display: grid;
	grid-template-areas: 
	"redes logo otras_paginas";
	justify-content: space-around;
	align-content: center;

	h4 {
		text-align: center;
	}

	#footer_2 {
		align-self: center;
		grid-area: logo; 
	}


		@media screen and (max-width: 560px) {

			grid-template-areas: 
				"redes"
				"otras_paginas"
				"logo";
			background-size: cover;

			#footer_2 {
				margin-top: 2rem;
				text-align: center;
				width: auto;
			}

		}

}
