footer {
	margin-top: 2rem;
	padding: 2rem;
	background-color: black;
	background-image: url("../imagenes/noche.gif");
	background-size: auto;
	display: grid;
	grid-template-areas: 
	"redes logo otras_paginas";
	justify-content: space-around;
	align-content: center;

	h4 {
		text-align: center;
	}

	ul {
		list-style-type: none;
		padding-left: 0;
	}

	li {
		text-align: center;
		color: white;
		font-size: 1.5rem;
		margin: 0 0.3rem;
		padding: 0.5rem;
	}

	#footer_1 {
		align-self: top;
		grid-area: redes;
	}

	#footer_2 {
		align-self: center;
		grid-area: logo; 
	}

	#footer_3 {
		align-self: top;
		grid-area: otras_paginas; 
	}

		@media screen and (max-width: 560px) {

			grid-template-areas: 
				"redes"
				"otras_paginas"
				"logo";
			background-size: cover;

			#footer_1,#footer_2,#footer_3 {
				margin-top: 2rem;
				text-align: center;
				width: auto;
			}

		}

}
