header {
	.menu {
		font-size: 0;
		list-style-type: none;
		display: flex;
		justify-content: space-evenly;
		align-content: space-evenly;
		align-items: center;
		flex-direction: row;
	}
	.menu li {
		position: relative;
		width: 20%;
		text-align: center;
		font-size: 1.5rem;
	}
	.menu ul {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.8);
		border-radius: 5px;
		width: 100%;
		display: none;
	}
	.menu ul li {
		display: inline-block;
		font-size: 1.25rem;
		width: 100%;
	}
	.menu li:hover ul {
		@keyframes menu_slide {
			0% {top: 25px;}
			50% {top: 50px;}
			75% {top: 45px;}
			100%{top: 25px;}
		}
		display: block;
		animation-duration: 500ms;
		animation-name: menu_slide;
	}
	.menu li a:hover {
		background-color: white;
		color: black;
		border-radius: 5px;
	}
	.menu_des {
		display: none;
		list-style: none;
		padding-left: 25px;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.95);
		background-repeat: repeat-y;
	}
	.menu_des h1 {
		display: inline;
		list-style: none;
		color: white;
		text-align: center;
		font-size: 5vh;
		padding: 3rem;
		margin-left: 4rem;
		font-family: 'Langar', cursive;
	}
	.menu_des li a {
		list-style: none;
		color: #3FA9BA;
		font-size: 4vh;
		margin: 0.05vh;
		padding: 0.1vh;
		font-family: 'Langar', cursive;
	}
	.menu_des li ul li a {
		list-style: none;
		color: #5D1F89;
		font-size: 3vh;
		margin: 0.01vh;
		padding: 0.1vh;
		font-family: 'Eczar', serif;
	}
	.menu_des a:hover {
		background-color: white;
		color: black;
		border-radius: 5px;
	}
	#menu_hamb {
		display: all;
		float: right;
		top: 20px;
		right: 20px;
		opacity: 0;
		width: 3rem;
		height: 3rem;
		transform: scale(1.3);
		cursor: pointer;
		position: relative;
		z-index: 100;
	}
	.label_menu {
		display: all;
		z-index: 80;
		float: right;
		position: relative;
	}
	.label_menu #span1,#span2,#span3 {
		position: absolute;
		right: -12.5px;
		top: 18px;
		content: '';
		background: white;
		width: 3.5rem;
		height: 0.5rem;
		border-radius: 0.5rem;
		transition: all 500ms ease;
	}
	#span1 {
		top: 18px;
	}
	#span2 {
		top: 32px;
	}
	#span3 {
		top: 47px;
	}
	@media screen and (min-width: 1024px) {
		#menu_hamb {
			display: none;

		}
		.label_menu {
			display: none;
		}
	}
	@media screen and (max-width: 1024px) {
		.top2 {
			display: none;
		}
		#menu_hamb:checked ~ .menu_des {
			display: grid;
			z-index: 100;
		}
	}

	#menu_hamb:checked ~ .label_menu #span1 {
		transform: rotate(135deg);
		top: 32px;
		opacity: 0;
	}
	#menu_hamb:checked ~ .label_menu #span2 {
		transform: rotate(360deg);
		opacity: 0;
	}
	#menu_hamb:checked ~ .label_menu #span3 {
		transform: rotate(-135deg);
		top: 32px;
		opacity: 0;
	}
	#menu_hamb_close {
		display: all;
		float: right;
		top: 40px;
		right: 65px;
		opacity: 0;
		width: 3rem;
		height: 3rem;
		transform: scale(1.3);
		cursor: pointer;
		position: absolute;
		z-index: 200;
	}
	.label_menu_close {
		display: all;
		z-index: 180;
		float: right;
		position: relative;
	}
	#span4,#span6 {
		opacity: 1;
		position: absolute;
		top: 40px;
		right: 65px;
		content: '';
		background: white;
		width: 3.5rem;
		height: 0.5rem;
		border-radius: 0.5rem;
		z-index: 180;
	}
	#span4 {
		transform: rotate(135deg);
		top: -66px;
		right: 63.4px;
	}
	#span6 {
		transform: rotate(-135deg);
		top: -66px;
		right: 63.4px;
	}
}