<header>
    <div class="top">
        <a href="index.html" class="enlaces">
            <img src="/assets/images/logo.ico" width="50" height="50" class="img-fluid" alt="logo del sitio" />
            <h1 id="titulo">Scouteando</h1>
        </a>
        <input type="checkbox" id="menu_hamb">
        <label for="manu_hamb" class="label_menu">
            <span id="span1"></span>
            <span id="span2"></span>
            <span id="span3"></span>
        </label>
        <br>
        <div class="menu_des">
            <ul>
                <li>
                    <a href="index.html" class="enlaces">Inicio</a>					
                </li>
                <li>
                    <a href="organizacion.html" class="enlaces">Organización</a>
                </li>
                <li>
                    <a href="teoria.html" class="enlaces">Teoría</a>
                </li>
                <li>
                    <a href="campismo.html" class="enlaces">Campismo</a>
                </li>
                <li>
                    <a href="historia.html" class="enlaces">Historia</a>
                </li>
                <li>
                    <a role="link" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="<p class='fs-3 fw-bold mx-auto'> ¡Próximamente! </p>" class="enlaces" aria-disabled="true" class="disableItem"> Biblioteca</a>
                </li>
            </ul>
        </div>
        <div class="top2">
            <ul class="menu">
                <li>
                    <a href="index.html" class="enlaces">Inicio</a>					
                </li>
                <li>
                    <a href="organizacion.html" class="enlaces">Organización</a>
                </li>
                <li>
                    <a href="teoria.html" class="enlaces">Teoría</a>
                </li>
                <li>
                    <a href="campismo.html" class="enlaces">Campismo</a>
                </li>
                <li>
                    <a href="historia.html" class="enlaces">Historia</a>
                </li>
                <li>
                    <a role="link" data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-html="true" title="<p class='fs-3 fw-bold mx-auto'> ¡Próximamente! </p>" class="enlaces" aria-disabled="true" class="disableItem"> Biblioteca</a>
                </li>
            </ul>
        </div>
    </div>
</header>