<section class="container">
    <h2 class="col-12">Te damos la bienvenida a este gran juego: La Vida Scout</h2>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <article>
            <p class="bienvenida">
                Venimos a compartir con vos un espacio dedicado al apasionante mundo del movimiento scout. Este sitio está diseñado para explorar en profundidad los aspectos fundamentales del escultismo, desde sus valores hasta su estructura organizativa, pasando por su rica historia y por las obras literarias que han guiado a generaciones de scouts. En este lugar, encontrarás información objetiva y detallada sobre el movimiento scout, diseñada para informar y educar a aquellos interesados en este noble legado. 
            </p>
        </article><br>
    </div><br>  

</section>
