<!DOCTYPE html>
<html lang="es">
<head>
	<title>Scouteando</title>
	<link rel="shortcut icon" href="LOGO_SVG_B_PATH" type="image/x-icon" id="faviconTag">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property='og:title' content='Scouteando: Un blog sobre el movimiento scout'/>
	<meta property='og:url' content='https://scouteando.net.ar'/>
	<meta property='og:description' content='Este es sitio dedicado a compartir información sobre el Movimiento Scout con todos aquellos que tengan algún interés o simplemente les de curiosidad.' />
	<meta property='og:type' content='website'/>
	<meta property='og:image' content='https://scouteando.net.ar/src/media/social_media_share.jpg'/>
	<meta name="description" content="Este sitio dedicado a compartir información sobre el Movimiento Scout con todos aquellos que tengan algún interés o simplemente les de curiosidad.">
	<meta name="keywords" content="SCOUT, MOVIMIENTO, OMMS, BLOG, INFORMACION, PRINCIPAL, ENTRADAS">

	<link rel="stylesheet" href="RESET_CSS_PATH">
	<link rel="stylesheet" href="BOOTSTRAP_CSS_PATH">
	<link rel="stylesheet" href="STYLES_CSS_PATH">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Eczar&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Langar&display=swap" rel="stylesheet">	
</head>
<body>
	<header>
		<div class="top">
			<a href="INDEX_PATH" class="enlaces">
				<img src="LOGO_ICO_PATH" width="50" height="50" class="img-fluid" alt="logo del sitio" />
				<h1 id="titulo">Scouteando</h1>
			</a>
			<input type="checkbox" id="menu_hamb">
			<label for="manu_hamb" class="label_menu">
				<span id="span1"></span>
				<span id="span2"></span>
				<span id="span3"></span>
			</label><br>
			<div class="menu_des">
				<ul>
					<li>
						<a href="INDEX_PATH" class="enlaces">Inicio</a>					
					</li>
					<li>
						<a href="ORGANIZACION_PATH" class="enlaces">Organización</a>
					</li>
					<li>
						<a href="TEORIA_PATH" class="enlaces">Teoría</a>
					</li>
					<li>
						<a href="CAMPISMO_PATH" class="enlaces">Campismo</a>
					</li>
					<li>
						<a href="HISTORIA_PATH" class="enlaces">Historia</a>
					</li>
					<li>
						<a role="link" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="<p class='fs-3 fw-bold mx-auto'> ¡Próximamente! </p>" class="enlaces" aria-disabled="true" class="disableItem"> Biblioteca</a>
					</li>
				</ul>
			</div>
			<div class="top2">
				<ul class="menu">
					<li>
						<a href="INDEX_PATH" class="enlaces">Inicio</a>					
					</li>
					<li>
						<a href="ORGANIZACION_PATH" class="enlaces">Organización</a>
					</li>
					<li>
						<a href="TEORIA_PATH" class="enlaces">Teoría</a>
					</li>
					<li>
						<a href="CAMPISMO_PATH" class="enlaces">Campismo</a>
					</li>
					<li>
						<a href="HISTORIA_PATH" class="enlaces">Historia</a>
					</li>
					<li>
						<a role="link" data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-html="true" title="<p class='fs-3 fw-bold mx-auto'> ¡Próximamente! </p>" class="enlaces" aria-disabled="true" class="disableItem"> Biblioteca</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<section class="container">

		<!-- SECTION -->

	</section>
	<footer>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col col-md-2 md-auto align-self-center">
					<div class="row">
						<div class="col d-flex justify-content-center">
							<a href="https://www.instagram.com/scouteando.blog/"><img src="INSTAGRAM_ICO_PATH" width="40" height="40"></a>
						</div>
						<div class="col d-flex justify-content-center">
							<a href="https://twitter.com/ScouteandoB"><img src="TWITTERX_ICO_PATH" width="40" height="40"></a>
						</div>
					</div>
				</div> 
				<div class="col col-md-2 md-auto d-flex justify-content-center">
					<img src="LOGO_ICO_PATH" width="100" height="100" alt="logo del sitio" />
				</div>
				<div class="col col-md-2 md-auto align-self-center">
					<div class="row">
						<div class="col d-flex justify-content-center">
							<a href="https://www.youtube.com/@scouteandoB "><img src="YOUTUBE_ICO_PATH" width="40" height="40"></a>
						</div>
						<div class="col d-flex justify-content-center">
							<a href="https://ar.pinterest.com/scouteando/"><img src="PINTEREST_ICO_PATH" width="40" height="40"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script>
		const faviconTag = document.getElementById("faviconTag");
		const isDark = window.matchMedia("(prefers-color-scheme: dark)");
		const changeFavicon = () => {
			if (isDark.matches) faviconTag.href = "LOGO_SVG_W_PATH";
			else faviconTag.href = "LOGO_SVG_B_PATH";
		};
		changeFavicon();
		isDark.addEventListener("change", changeFavicon);
	</script>
	<script src="BOOTSTRAP_JS_PATH"></script>
	<script>
		var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
		var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
		return new bootstrap.Tooltip(tooltipTriggerEl)
		})
	</script>
</body>
</html>