@charset "UTF-8";
header .menu {
  font-size: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;}
  header .menu li {
    position: relative;
    width: 20%;
    text-align: center;
    font-size: 2rem;}
    header .menu li a:hover {
      background-color: white;
      color: black;
      border-radius: 5px;
      padding: 0rem 0.5rem; }
  header .menu li:hover ul {
    display: block;
    animation-duration: 200ms;
    animation-name: menu_slide;
    animation-fill-mode: both; }
  header .menu ul {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    width: 100%;
    display: none; }
    header .menu ul li {
      display: inline-block;
      font-size: 1.25rem;
      width: 100%; }

header .menu_des {
  margin-top: 2.2rem;
  display: none;
  list-style: none;
  width: 100%; }
  header .menu_des li {
    margin: 1rem; }
    header .menu_des li a {
      list-style: none;
      color: white;
      font-size: 2rem;
      margin: 0.5rem;
      padding: 0.5rem;
      font-family: 'Langar', cursive; }
    header .menu_des li a:hover {
      background-color: white;
      color: black;
      border-radius: 5px; }

header #menu_hamb {
  display: all;
  float: right;
  top: 20px;
  right: 20px;
  opacity: 0;
  width: 3rem;
  height: 3rem;
  transform: scale(1.3);
  cursor: pointer;
  position: relative;
  z-index: 100; }

header #menu_hamb:checked ~ .label_menu #span1 {
  transform: rotate(135deg);
  top: 23px; }

header #menu_hamb:checked ~ .label_menu #span2 {
  transform: rotate(360deg);
  opacity: 0; }

header #menu_hamb:checked ~ .label_menu #span3 {
  transform: rotate(-135deg);
  top: 23px; }

header .label_menu {
  display: all;
  z-index: 80;
  float: right;
  position: relative; }
  header .label_menu #span1, header .label_menu #span2, header .label_menu #span3 {
    position: absolute;
    right: -12.5px;
    top: 10px;
    content: '';
    background: white;
    width: 3.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    transition: all 500ms ease; }
  header .label_menu #span2 {
    top: 23px; }
  header .label_menu #span3 {
    top: 37px; }

@media screen and (min-width: 1024px) {
  header .label_menu {
    display: none; }
  header #menu_hamb {
    display: none; } }

@media screen and (max-width: 1024px) {
  header .top2 {
    display: none; }
  header #menu_hamb:checked ~ .menu_des {
    display: block; } }

@keyframes menu_slide {
  0% {
    top: 27px; }
  50% {
    top: 32px; }
  100% {
    top: 27px; } }

header {
  background-color: black;
  background-image: url("../media/noche.png"); }
  header img, header svg {
    vertical-align: top; }
  header .top {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    @media screen and (max-width: 1024px){
      padding-bottom: 2rem;}}
  header .top2 {
    padding: 0.3rem;
    width: 100%; }
  header #titulo {
    margin-bottom: 0.5rem;
    color: white;
    padding: 2.5rem;
    font-size: 5rem;
    font-family: 'Langar', cursive;
    display: inline;
    margin-left: 2rem; }
    @media screen and (max-width: 1024px) {
      header #titulo {
        position: relative;
        top: 1rem;
        font-size: 3rem;
        padding-bottom: 1.5rem;
        padding: auto;
        margin: 0.5rem; } }

section {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: white; }
  section p {
    color: #535353;
    font-size: 2rem;
    margin: 0.3rem;
    padding: 0.5rem;
    font-family: 'Eczar', serif; }
  section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;}
  section h2 {
    color: #460871;
    text-align: center;
    font-size: 3.5rem;
    margin: 0.125rem;
    padding: 1rem;
    font-family: 'Langar', cursive; }
    @media screen and (max-width: 767px) {
      section h2 {
        font-size: 2.5rem; } }
  section h3 {
    color: #5D1F89;
    font-size: 2.5rem;
    margin: 0.125rem;
    font-family: 'Langar', cursive; }
    @media screen and (max-width: 767px) {
      section h3 {
        font-size: 2rem; } }
  section h5 {
    font-family: 'Eczar', serif;
    font-variant: small-caps; }
  section article ul li {
    font-family: 'Eczar', serif;
    font-size: 1.2rem;
    list-style: "⚜️ ";
    font-weight: 700; }
  section table tr th {
    font-family: 'Eczar', serif;
    font-size: 1.2rem;
    font-weight: 700; }
  section table tr td {
    font-family: 'Eczar', serif;
    font-size: 1.2rem; 
    font-weight: 300; }
  section .bienvenida {
    font-style: italic; }
  section .cuadro {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 1.5rem;
    margin: 0.5rem 0;
    border: solid 1px rgba(0, 0, 0, 0.07); }
    section .cuadro .cuadro {
      background-color: transparent; }
  section .slider_contenido {
    height: 100%;
    top: 25%; }
    @media screen and (min-width: 1200px) {
      section .slider_contenido {
        top: 40%; } }

footer {
  margin-top: 2rem;
  padding: 2rem;
  padding-bottom: 1rem;
  background-color: black;
  background-image: url("../media/noche.png");
  background-size: auto;}

.centrar {
  text-align: center; }

.enlaces {
  text-decoration: none;
  color: white;
  font-family: 'Langar', cursive;}

button {
  color: white;
  font-family: 'Langar', cursive;
  font-size: 1.75rem;
  background-color: #3FA9BA;
  border-width: 0rem;
  padding: 0.2rem 0.6rem;
  border-radius: 5px; }

button:hover {
  background-color: #5D1F89; }
  button:hover a {
    color: white; }

h4 {
  color: #2952A0;
  font-size: 2rem;
  font-family: 'Langar', cursive; }

.tooltip-inner {
  font-family: 'Eczar';}

#copy_text {
  font-family: 'Eczar';
  color: lightgray;
  font-size: 1.3rem; }