<section class="container">
  
  <div class="row">
    <h2>{{ categoryName }}</h2>
    <div *ngFor="let article of articles" class="col-md-4 mb-4">
      <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title"><b>{{ article.nombre || 'Sin título' }}</b></h4>
        <h6 class="card-subtitle mb-2 text-muted">
          <i class="bi bi-clock-history"></i>
          {{ article.ultimaModificacion || 'Fecha desconocida' }}
        </h6>
        <p class="card-text">{{ article.primerParrafo }}</p>
        <div class="d-grid gap-2 col-6 mx-auto">
          <a [routerLink]="getRouteLink(article.nombre, article.id)" class="btn btn-outline-secondary">
            <i class="bi bi-book"></i> Leer más
          </a>
        </div>
        </div>
      </div>
    </div>
  </div>

</section>