@import "bootstrap/dist/css/bootstrap.min.css";

* {
	padding: 0;
	margin: 0;
	border: 0;
}
html {
	font-size: 62.5%;
}

.centrar {
	text-align: center; }
.enlaces {
	text-decoration: none;
	color: white;
	font-family: 'Langar', cursive;}
button {
	color: white;
	font-family: 'Langar', cursive;
	font-size: 1.75rem;
	background-color: #3FA9BA;
	border-width: 0rem;
	padding: 0.2rem 0.6rem;
	border-radius: 5px; }