<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-md-2 md-auto align-self-center">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <a href="https://www.instagram.com/scouteando.blog/"><img src="assets/images/instagram.ico" width="50" height="50"></a>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <a href="https://twitter.com/ScouteandoB"><img src="assets/images/twitterx.ico" width="50" height="50"></a>
                    </div>
                </div>
            </div> 
            <div class="col col-md-2 md-auto d-flex justify-content-center">
                <img src="/assets/images/logo.ico" width="100" height="100" alt="logo del sitio" />
            </div>
            <div class="col col-md-2 md-auto align-self-center">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <a href="https://www.youtube.com/@scouteandoB "><img src="assets/images/youtube.ico" width="50" height="50"></a>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <a href="https://ar.pinterest.com/scouteando/"><img src="assets/images/pinterest.ico" width="50" height="50"></a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col text-center mt-3">
                    <p id="copy_text" class="mb-0">&copy; 2024 Scouteando. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </div>
</footer>